<!DOCTYPE html>
<html lang="en">
<head>
    <%-include('includes/head') %>
    <title>Home</title>
</head>
<body>
    <%-include('includes/header') %>
    <h1>HOME입니다</h1>   
    <marquee behavior="" direction="">WELCOM</marquee>
</body>
</html>