<header>
    <div>
        <nav>
            <p>Navigation</p>
            <p>Bar</p>
            <a href="/home">홈으로</a>
            <a href="/enter">추가하기</a>
            <a href="/list">목록보기</a>
        </nav>
    </div>
</header>